.my-drop-zone { border: dotted 3px lightgray; width: 500px; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.drop-container { margin: 0px 0px 0px 5px; }

html, body {
  height: 100%;
  background-color: #f8f8f8;
}

#wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

.menu {
  background-color: #1A3E68;
  border-bottom: 5px solid #DFC166;
  color: #f8f8f8;
  padding: 10px 0px 10px 30px;
  /*margin-bottom: 5px;*/
}

.upload-box {
  margin: 0px 0px 20px 5px;
  width: 500px;
}

.upload-box canvas {
  padding: 10px;
  display: block;
  margin: auto;
}

canvas {
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  margin: 6px 0 0 6px;
  max-width: 500px;
  max-height: 300px;
}

.fa-spinner {
  margin: 0 0 10px;
}

.col-sm-10 {
  padding: 10px 5px;
}

#wrapper {
  background-color: #F9F4E5;
  height: 100%;
}

#OSI .col-sm-10 {
  background-color: #ffffff;
  padding: 10px 5px;
}